<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>App Salones</title>
</head>
<body>

    <div class="cont-main">
        <div>
            <h1>Bienvenido app de Salones de fiesta</h1>
            <div class="cont-list">
            <ul>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="clientes.html">clientes</a></li>
                <li><a href="mensajes.html">Mensajes</a></li>
                <li><a href="Salondefiestas.html">Salon de fiestas</a></li>
                <li><a href="reservaciones.html">reservaciones</a></li>
                <li><a href="puntaje.html">Puntaje de reserva</a></li>
            </ul>
            </div>
        </div>
    </div>
    
</body>
</html>